body {
  background: linear-gradient(#ffd519, 70%, #0dff68);
  color: white;
  height: 100vh;
  margin: 0;
}

/* App.tsx */
.app {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  left: 50%;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.app::before {
  filter: blur(20px);
}

/* Title.tsx */
.app--headline {
  font-size: 1.5rem;
  margin: 0;
  font-style: italic;
  text-align: center;
}

/* Form.tsx */
.form {
  margin: 20px 0;
  text-align: center;
}
.form--input {
  border: none;
  border-bottom: 2px solid #000;
  margin-right: 20px;
  padding: 5px;
  width: 150px;
}
.form--note {
  bottom: 0;
  color: #ff2519;
  font-size: 0.8rem;
  position: relative;
  right: 0;
}
.form--btn {
  background-color: #fff;
  border: none;
  border: 2px solid #ff2519;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  width: 100px;
}
.form--btn:hover {
  background-color: #ff2519;
  border: 2px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* Results.tsx */
.results {
  text-align: center;
}
.results--city,
.results--country {
  display: inline-block;
  font-size: 2rem;
  margin: 0 10px;
}

.results--temp {
  font-size: 4rem;
}
.results--unit {
  font-size: 2rem;
}

.text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.text--icon {
  height: 30px;
  width: 30px;
}

.text--text {
  height: auto;
}

/* Loading.tsx */
.loading {
  margin: auto;
}
